    <!-- Footer -->
    <footer class="bg-maroon text-white pt-10">
        <div class="max-w-8xl mx-auto px-12">
            <div class="grid md:grid-cols-4 gap-x-12">
                <div>
                    <h3 class="font-bold text-white text-xl py-2 mb-4 border-b border-amber-400">Contact Us</h3>
                    <p class="text-gray-300 mb-2">L.H.O.S Technology Building, Room 408</p>
                    <p class="text-gray-300 mb-2">3100 Cleburne Street, Houston, TX 77004</p>
                    <p class="text-gray-300 mb-2"></p>
                    <p class="text-gray-300 mb-2">Phone: (713) 313-7006</p>
                    <p class="text-gray-300">Email: coset@tsu.edu</p>
                </div>
                <div class="md:col-span-2">
                    <h3 class="font-bold text-white text-xl py-2 mb-4 border-b border-amber-400">Departments</h3>
                    <div class="flex flex-row gap-x-10">
                        <div>
                            <ul class="space-y-2 text-gray-300">
                                <li><a href="#" class="hover:text-white">Biology</a></li>
                                <li><a href="#" class="hover:text-white">Chemistry</a></li>
                                <li><a href="#" class="hover:text-white">Mathematical Sciences</a></li>
                                <li><a href="#" class="hover:text-white">Physics</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="space-y-2 text-gray-300">
                                <li><a href="#" class="hover:text-white">Aerospace & Mechanical Engineering</a></li>
                                <li><a href="#" class="hover:text-white">Chemical Engineering & Environmental Toxicology</a></li>
                                <li><a href="#" class="hover:text-white">Civil Engineering & Transportation Studies</a></li>
                                <li><a href="#" class="hover:text-white">Electrical Electrical Engineering & Computer Science</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="font-bold text-white text-xl py-2 mb-4 border-b border-amber-400">TSU Links</h3>
                    <ul class="space-y-2 text-gray-300">
                        <li><a href="#" class="hover:text-white">TSU Home</a></li>
                        <li><a href="#" class="hover:text-white">Academic Calendar</a></li>
                        <li><a href="#" class="hover:text-white">Library</a></li>
                        <li><a href="#" class="hover:text-white">Tiger Email</a></li>
                        <li><a href="#" class="hover:text-white">Career Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="border-t bg-coset-gray3 border-gray-800 text-center text-slate-300 py-4 mt-10">
                <p>&copy; 2026 Texas Southern University. All rights reserved.</p>
    </div>
    </footer>

