{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% image page.hero_image width-1800 as photo %}
<!-- Hero Section -->
<section class="relative h-[50vh] flex items-center justify-center overflow-hidden bg-cover bg-center bg-position-[50%]" 
  style="background-image: url('{{ photo.url }}'); clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%, 0 80%);">   
    <div class="absolute inset-0  bg-black/20"></div>
    <div class="relative z-10 text-center px-4">
        <h1 class="text-3xl md:text-5xl lg:text-7xl font-bold text-white mb-10" style = "text-shadow: -4px -4px 4px rgba(0, 0, 0, 0.5);-webkit-text-stroke-width: thin; -webkit-text-stroke-color: gray; paint-order: stroke fill;">
            {{ page.hero_title }}
        </h1>
        <a href="/engineering-initiative/">
        <button class="bg-white/80 transition transform hover:scale-105 px-6 py-2 rounded-lg shadow-lg" aria-label="Main Navigation"> 
        <div class="inline-block text-xl md:text-2xl font-bold bg-linear-to-r from-indigo-500 to-pink-600 bg-clip-text text-transparent">
            {{ page.hero_cta_text }}
        </div>
        </button>
        </a>
    </div>
</section>

<!-- News and Events Section -->
<section>
    <div class="max-w-7xl mx-auto px-4">
        <h2 class="text-4xl font-bold text-coset-gray-dark mt-0 mb-20">News & Events</h2>
        <div class="grid md:grid-cols-3 gap-8">
            {% for item in page.featured_posts.all %}
            <div class="bg-white rounded-lg overflow-hidden shadow-md transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">
                <div class="h-48 bg-gradient-to-br from-maroon to-maroon-light">
                    {% image item.featured_post.image fill-400x250 as img %}
                    <img src="{{ img.url }}" alt="{{ item.featured_post.title }}" class="w-full h-full object-cover">                     
                </div>
                <div class="p-6">
                    <div class="text-sm text-maroon font-semibold mb-2">{{ item.featured_post.datetime|date:"N j, Y" }}</div>
                    <h3 class="font-bold text-xl mb-3">{{ item.featured_post.title }}</h3>
                    <p class="text-coset-gray mb-4">{{ item.featured_post.summary}}</p>
                    <a href="{% pageurl item.featured_post %}" class="text-maroon font-semibold hover:underline">Read More →</a>
                </div>
            </div>
            {% endfor %}
        </div>  
    </div>
</section>

<!-- Testimonials Section -->
<section class="py-16 bg-coset-gray1">
    <div class="max-w-7xl mx-auto px-4">
    <h2 class="text-4xl font-bold text-center text-coset-gray-dark mb-12">What Our Students Say</h2>
        <div class="grid md:grid-cols-3 gap-8">
        {% for item in page.testimonial_posts.all %}   
            <div class="bg-coset-gray2 rounded-lg shadow-md transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">
            <div class="flex justify-center mb-5">
                <div class="w-full rounded-lg overflow-hidden">
                    {% image item.testimonial_post.image fill-400x250 as img %}
                    <img src="{{ img.url }}" alt="{{ item.testimonial_post.title }}" class="w-full h-full object-cover">
                </div>
            </div>
            <p class="text-coset-gray p-8 mb-4"> &#10077; {{ item.testimonial_post.summary }} &#10078;</p>
            <div class="border-t border-gray-200 p-8">
                <div class="font-semibold text-maroon">{{ item.testimonial_post.author }}</div>
                <div class="text-sm text-coset-gray-dark">{{ item.testimonial_post.unit }}</div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>


{% endblock %}